/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;
400;
700&display=swap');
 :global(#app) {
	 display: flex;
	 flex-direction: column;
	 height: 100%;
	 overflow-x: hidden;
	 justify-content: space-between;
} */
 .navBarContainer {
	 display: flex;
	 justify-content: space-between;
}
 .navBarContainer .navBarText {
	 display: flex;
	 align-items: center;
	 margin-left: 2.25rem;
}
 .navBarContainer .navButton {
	 color: #0d1d2a;
	 align-self: center;
	 margin-left: 2rem;
}
 .navBarContainer .navButton.selected {
	 color: #e1ad62;
}
 .navBarContainer .languageButtons {
	 margin-left: 3rem;
	 display: flex;
}
 .navBarContainer .languageButtons .languageButton {
	 font-size: 12px;
	 font-weight: 400;
	 text-transform: none;
	 min-width: unset;
	 color: #a6acbe;
}
 .navBarContainer .languageButtons .languageButton.selected {
	 font-weight: 700;
	 color: #0d1d2a;
}
 .pageFooter {
	 color: #fff;
	 background-color: #e1ad62;
	 padding: 1.5rem;
}
 .pageFooter :global(.MuiContainer-root) {
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
}
 .pageFooter img {
	 max-height: 2rem;
}
 .heroImage {
	 width: 100%;
	 background-size: cover;
	 display: flex;
	 align-items: center;
	 max-height: 38rem;
}
 .heroImage .heroDarkArea {
	 padding: 4.5rem;
	 background-color: #0d1d2a;
}
 .heroImage .heroDarkArea h1 {
	 color: #e1ad62;
	 font-family: 'Inter';
	 font-style: normal;
	 font-weight: 700;
	 font-size: 4rem;
	 line-height: 114.8%;
	 margin: 0;
}
 .heroImage .heroDarkArea h2 {
	 font-family: 'Inter';
	 font-style: normal;
	 font-weight: 700;
	 font-size: 1.875rem;
	 line-height: 132.8%;
	 color: #fff;
	 margin-top: 2rem;
}
 .contactUs {
	 margin-top: 7.5rem;
	 margin-bottom: 7.5rem;
}
 .contactUs h3 {
	 font-family: 'Inter';
	 font-style: normal;
	 font-weight: 700;
	 font-size: 38px;
	 line-height: 132.8%;
	 color: #0d1d2a;
	 margin-bottom: 2.5rem;
}
 .contactUs h4 {
	 margin-bottom: 3rem;
	 font-family: 'Inter';
	 font-style: normal;
	 font-weight: 700;
	 font-size: 22px;
	 line-height: 132.8%;
	 color: #0d1d2a;
}
 .contactUs .address {
	 font-family: 'Inter';
	 font-style: normal;
	 font-weight: 400;
	 font-size: 15px;
	 line-height: 21px;
	 color: #0d1d2a;
	 margin-bottom: 2rem;
}
 .contactUs .mapContainer {
	 max-height: 315px;
	 border-radius: 5px;
	 overflow: hidden;
	 border: 1px solid #0d1d2a;
}
 .imageGallery {
	 margin-top: 7.5rem;
	 margin-bottom: 7.5rem;
}
 .imageGallery h3 {
	 font-family: 'Inter';
	 font-style: normal;
	 font-weight: 700;
	 font-size: 38px;
	 line-height: 132.8%;
	 color: #0d1d2a;
	 margin-bottom: 2.5rem;
	 text-align: center;
}
 .imageGallery .imageList {
	 display: flex;
	 flex-wrap: wrap;
	 align-items: center;
	 justify-content: center;
}
 .imageGallery .imageList > div {
	 background: rgba(0, 0, 0, 0);
	 padding: 0.5rem;
	 box-sizing: border-box;
	 transition: all 125ms linear;
}
 .imageGallery .imageList > div img {
	 width: 100%;
	 cursor: pointer;
}
 .imageGallery .imageList > div:global(.selected) {
	 position: absolute;
	 background: rgba(0, 0, 0, 0.68);
	 left: 0;
	 top: 0;
	 right: 0;
	 width: unset !important;
	 padding: 5vh 5vw;
}
 .imageGallery .imageList > div:global(.selected) img {
	 height: 90vh;
	 width: unset;
	 margin: 0 auto;
	 box-shadow: 2rem 2rem 2.5rem rgba(0, 0, 0, 0.15);
}
 .aboutUs {
	 margin-top: 7.5rem;
	 margin-bottom: 7.5rem;
}
 .aboutUs h1 {
	 font-family: 'Inter';
	 font-style: normal;
	 font-weight: 700;
	 font-size: 38px;
	 line-height: 132.8%;
	 color: #0d1d2a;
	 margin-bottom: 3.125rem;
}
 .aboutUs p {
	 font-family: 'Inter';
	 font-style: normal;
	 font-weight: 400;
	 font-size: 15px;
	 line-height: 21px;
	 color: #0d1d2a;
	 margin-bottom: 5rem;
}
 .aboutUs h3 {
	 font-family: 'Inter';
	 font-style: normal;
	 font-weight: 700;
	 font-size: 22px;
	 line-height: 132.8%;
	 color: #e1ad62;
	 margin-bottom: 2.5rem;
}
 .aboutUs .aboutSocials {
	 display: flex;
	 flex-direction: row;
	 align-items: center;
	 gap: 1.625rem;
}
 .aboutUs .aboutImage {
	 max-width: 80%;
	 margin: auto;
	 filter: drop-shadow(40px 40px 50px rgba(0, 0, 0, 0.15));
}
 .sectionOne {
	 height: 32rem;
	 width: 100%;
	 position: relative;
}
 .sectionOne picture img {
	 height: 100%;
	 width: 100%;
	 object-fit: cover;
}
 .sectionOne .boxHeadingsOne {
	 background-color: #ffeed8;
	 position: absolute;
	 left: 50%;
	 top: 50%;
	 transform: translate(-50%, -50%);
	 width: 40%;
	 height: 60%;
	 z-index: 10;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: center;
	 gap: 40px;
	 padding: 20px;
	 border-radius: 40px;
}
 .sectionOne .boxHeadingsOne h1 {
	 text-align: center;
	 text-transform: uppercase;
	 font-size: 60px;
	 font-weight: 700;
}
 .sectionOne .boxHeadingsOne p {
	 text-align: center;
	 font-size: 25px;
}
 .sectionOne .boxHeadingsOne button {
	 margin: 0 auto;
	 width: 150px;
	 height: 40px;
	 background-color: brown;
	 color: white;
}
 .sectionTwo {
	 height: 500px;
	 width: 100%;
	 position: relative;
	 background-color: #ffeed8;
}
 .sectionTwo .boxHeadingsTwo {
	 position: absolute;
	 left: 50%;
	 top: 50%;
	 transform: translate(-50%, -50%);
	 width: 40%;
	 height: 60%;
	 z-index: 10;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: center;
	 gap: 40px;
	 padding: 20px;
	 border-radius: 40px;
}
 .sectionTwo .boxHeadingsTwo h1 {
	 text-align: center;
	 text-transform: uppercase;
	 font-size: 60px;
	 font-weight: 700;
}
 .sectionTwo .boxHeadingsTwo p {
	 text-align: center;
	 font-size: 25px;
}
 .sectionTwo .boxHeadingsTwo button {
	 margin: 0 auto;
	 width: 150px;
	 height: 40px;
	 background-color: brown;
	 color: white;
}
 .sectionThree {
	 height: 700px;
	 width: 100%;
	 display: flex;
}
 .sectionThree .boxHeadingsThree {
	 background-color: #e0f9ff;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: center;
	 gap: 40px;
	 padding: 20px;
	 width: 50%;
}
 .sectionThree .boxHeadingsThree h1 {
	 text-align: center;
	 text-transform: uppercase;
	 font-size: 60px;
	 font-weight: 700;
	 width: 30%;
}
 .sectionThree .boxHeadingsThree button {
	 margin: 0 auto;
	 width: 150px;
	 height: 40px;
	 background-color: brown;
	 color: white;
}
 .sectionThree picture {
	 width: 50%;
}
 .sectionThree picture img {
	 width: 100%;
	 height: 100%;
	 object-fit: cover;
	 object-position: center;
}
 .sectionFour {
	 height: 500px;
	 width: 100%;
	 display: flex;
	 background-color: black;
}
 .sectionFour .container {
	 display: flex;
	 align-items: center;
}
 .sectionFour .container .boxHeadingsFour {
	 color: white;
	 width: 100%;
}
 .sectionFour .container .boxHeadingsFour .containerGrid .childGrid h1 {
	 text-transform: capitalize;
	 font-size: 60px;
	 width: 50%;
}
 .sectionFour .container .boxHeadingsFour .containerGrid .childGrid:nth-child(2) {
	 display: flex;
	 flex-direction: column;
	 gap: 30px;
}
 .sectionFour .container .boxHeadingsFour .containerGrid .childGrid:nth-child(2) p {
	 font-size: 25px;
}
 .sectionFour .container .boxHeadingsFour .containerGrid .childGrid:nth-child(2) .separator {
	 width: 100px;
	 height: 1px;
	 background-color: white;
}
 .sectionFour .container .boxHeadingsFour .containerGrid .childGrid:nth-child(2) button {
	 padding: 0;
	 width: fit-content;
	 height: 40px;
	 color: white;
	 text-transform: capitalize;
	 font-weight: 700;
	 font-size: 20px;
}
 .sectionFive {
	 height: 700px;
	 width: 100%;
	 position: relative;
}
 .sectionFive picture {
	 position: absolute;
	 left: 50px;
	 top: 50px;
	 width: 70%;
	 height: 60%;
	 z-index: 5;
}
 .sectionFive picture img {
	 width: 100%;
	 height: 100%;
	 object-fit: cover;
	 object-position: center;
}
 .sectionFive .boxHeadingsFive {
	 position: absolute;
	 right: 50px;
	 bottom: 50px;
	 width: 70%;
	 height: 60%;
	 z-index: 10;
	 background-color: #e0f9ff;
	 display: flex;
	 flex-direction: column;
	 align-items: flex-start;
	 justify-content: center;
	 gap: 20px;
}
 .sectionFive .boxHeadingsFive h1 {
	 padding-left: 15rem;
	 padding-right: 15rem;
	 text-transform: uppercase;
	 font-size: 60px;
	 font-weight: 700;
}
 .sectionFive .boxHeadingsFive p {
	 padding-left: 15rem;
	 padding-right: 15rem;
	 font-size: 25px;
}
 .sectionFive .boxHeadingsFive button {
	 margin-left: 15rem;
	 width: 150px;
	 height: 40px;
	 background-color: brown;
	 color: white;
}
 